.grand {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5%;
}

.grand_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  background-color: #3d3d3d;
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 12px #000000, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 15px;
}

input {
  grid-column: span 4;
  height: 5em;
  background-color: #3d3d3d;
  border-radius: 10px;
  color: rgb(223, 223, 223);
  font-size: 30px;
  text-align: end;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-right: 15px;
}

.child {
  height: 3em;
  background-color: #b5b5b5;
  border-radius: 12px;
  box-shadow: rgb(95, 95, 95) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: none;
}

.child:hover {
  background-color: white;
  /* box-shadow: 0 0 10px 0 #a5a5a5 inset, 0 0 20px 2px #7f7f7f;
  border: 3px solid #9b9b9b; */
}
.equal {
  height: 3em;
  width: 8em;
  background-color: #b5b5b5;
  border-radius: 12px;
  box-shadow: rgb(95, 95, 95) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border: none;
}
.equal:hover {
  box-shadow: 0 0 10px 0 #a5a5a5 inset, 0 0 20px 2px #7f7f7f;
  border: 3px solid #9b9b9b;
}
